#index{
    // 页面头部
    .header{
        height: 160px;
        padding: 0 160px;
        img{
            float: left;
            margin-top: 48px;
        }
        .search{
            float: right;
            display: flex;
            margin-top: 60px;
            .textSearch{
                width: 380px;
                height: 46px;
                border: 2px solid #0861ad;
                text-indent: 10px;
            }
            .submit{
                width: 80px;
                height: 50px;
                background: #0861ad url(../images/search.png) no-repeat center center;
                cursor: pointer;
            }
        }
    }   

    // 页面导航
    .navi{
        height: 50px;
        font-size: 18px;
        ul{
            li{
                width: 320px;
                background: #0861ad;
                float: left;
                text-align: center;
                height: 50px;
                line-height: 50px;
                a{
                    color: #fff;
                }
            }
            :hover{
                background: #1082de;
            }
            .active{
                background: #1082de;
            }
        }
    }

    // 轮播
    .banner{
        height: 600px;
        background: url(../images/bg_pic.png) no-repeat left top;
        overflow: hidden;
        padding: 50px 38px;
        .bannerLeft{
            width: 1000px;
            height: 500px;
            float: left;
            position: relative;
            overflow: hidden;
            ul{
                position: absolute;
                width: 9999px;
                li{
                    float: left;
                    position: relative;
                    img{
                        width: 1000px;
                        height: 500px;
                    }
                }
            }
            .subscript{
                margin-right: 20px;
                height: 10px;
                position: absolute;
                right: 20px;
                bottom: 22px;
                span{
                    display: inline-block;
                    width: 10px;
                    height:10px;
                    background: #fff;
                    margin-left: 6px;
                    text-align: center;
                    line-height: 20px;
                    border-radius: 50%;
                    cursor: pointer;
                }
                .onLight{
                    background: #ffb317;
                }
            }
        }
        .bannerRight{
            width: 820px;
            height: 500px;
            float: right;
            background: rgba(0, 0, 0, .5);
            padding: 40px;
            box-sizing: border-box;
            .bannerRightTab{
                display: flex;
                font-size: 18px;
                color: #fff;
                ul{
                    flex: 1;
                    li{
                        float: left;
                        margin-right: 20px;  
                        width: 100px;
                        height: 40px;
                        text-align: center;
                        line-height: 40px;
                        cursor: pointer;
                    }
                    .active{
                        background: #1082de;
                    }
                }
                span{
                    display: inline-block;
                    width: 120px;
                    text-align: right;
                    a{
                        color: #fff;
                        line-height: 40px;
                    }
                }
            }
            .bannerRightList{
                display: none;
                ul{
                    margin-top: 20px;
                    overflow: hidden;
                    li{
                        line-height: 40px;
                        font-size: 16px;
                        text-indent: 14px;
                        overflow: hidden;
                        background: url(../images/listTitle.png) no-repeat left center;
                        a{
                            color: #fff;
                            float: left;
                            width: 520px;
                        }
                        i{
                            float: right;
                            color:#cccccc;
                            font-style: normal;
                        }
                    }
                }
               
            }
        }
    }

    .goveMent{
        margin:  30px auto;
        height: 710px;
        overflow: hidden;
        .goveMentLeft{
            width: 360px;
            float: left;
            h4{
                width: 300px;
                margin-left: 36px;
                border-bottom: 1px solid #e9f1f7;
                span{
                    font-size: 18px;
                    font-weight: bold;
                    display: inline-block;
                    line-height: 40px;
                    border-bottom: 2px solid #0861ad;
                }
            }
            .goberMentLeftList{
                ul{
                    margin-top: 80px;
                    li{
                        width: 120px;
                        height: 100px;
                        padding: 20px 0;
                        float: left;
                        overflow: hidden;
                        span{
                            display: block;
                            text-align: center;
                            margin-bottom: 16px;
                        }
                    }
                }
            }
        }
        .goveMentEnter{
            width: 1200px;
            float: left;
            .goveMentEnterTop{
                height: 290px;
                padding: 30px 15px;
                box-sizing: border-box;
                background: #e9f1f7;
                .left{
                    width: 670px;
                    float: left;
                    overflow: hidden;
                    .leftTop{
                        ul{
                            display: flex;
                            justify-content: space-between;
                            li{
                                width: 160px;
                                height: 120px;
                                background: #fff;
                                padding-top: 24px;
                                box-sizing: border-box;
                                cursor: pointer;
                                span{
                                    display: block;
                                    text-align: center;
                                    margin-bottom: 6px;
                                    color: #1082de;
                                }
                            }
                        }
                    }
                    .leftBottom{
                        margin-top: 20px;
                        ul{
                            display: flex;
                            justify-content: space-between;
                            li{
                                width: 210px;
                                height: 80px;
                                font-size: 16px;
                                background: url(../images/listBG.png) no-repeat left  top;
                                text-align: center;
                                line-height: 80px;
                                cursor: pointer;
                                a{
                                    color: #1082de;
                                }
                            }
                        }
                    }
                }
                .right{
                    width: 450px;
                    float: right;
                    margin-top: -10px;
                    margin-right: 20px;
                    h4{
                        font-size: 18px;
                        display: flex;
                        line-height: 36px;
                        justify-content: space-between;
                        border-bottom: 1px solid #aad2fd;
                        span{
                            font-weight: bold;
                            border-bottom: 2px solid #0861ad;
                        }
                        a{
                            color: #0861ad;
                            font-size: 16px;
                            position: relative;
                            top: 4px;
                        }

                    }
                    .rightList{
                        ul{
                            margin-top: 12px;
                            li{
                                text-indent: 16px;
                                background: url(../images/rightList.png) no-repeat left center;
                                line-height: 36px;
                            }
                        }
                    }
                }
            }   
            .goveMentEnterCenter{
                margin-top: 40px;
                height: 140px;
                border: 1px solid #aad2fd;
                background: url(../images/daiban.png) no-repeat -2px center;
                .title{
                    width: 160px;
                    height: 140px;
                    padding-top: 16px;
                    box-sizing: border-box;
                    span{
                        display: block;
                        line-height: 24px;
                        font-size: 22px;
                        color: #fff;
                        text-align: center;
                        font-weight: bold;
                    }
                }
            }
            .goveMentEnterBottom{
                margin-top: 20px;
                height: 200px;
                background: url(../images/tupian.png) no-repeat -2px center;
                display: flex;
                .title{
                    width: 160px;
                    height: 200px;
                    padding-top: 46px;
                    box-sizing: border-box;
                    span{
                        display: block;
                        line-height: 24px;
                        font-size: 22px;
                        color: #fff;
                        text-align: center;
                        font-weight: bold;
                    }
                }
                .listImg{
                    ul{
                        li{
                            width: 324px;
                            height: 200px;
                            overflow: hidden;
                            float: left;
                            margin-left: 22px;
                            img{
                                width: 324px;
                                height: 200px;
                            }
                        }
                    }
                }
            }
        }
        .goverMentRight{
            width: 300px;
            float: left;
            margin-left: 30px;
            .top{
                margin-top: 18px;
                height: 270px;
                h4{
                    width: 300px;
                    border-bottom: 1px solid #aad2fd;
                    span{
                        font-size: 18px;
                        font-weight: bold;
                        display: inline-block;
                        line-height: 40px;
                        border-bottom: 2px solid #0861ad;
                    }
                    a{
                        float: right;
                        margin-top: 14px;
                        color: #1082de;
                        font-size: 16px;
                    }
                }
                ul{
                    margin-top: 10px;
                    li{
                        text-indent: 60px;
                        line-height: 36px;
                        background: url(../images/rightList.png) no-repeat left center,url(../images/new.png) no-repeat 10px center;
                    }
                }
            }
            .bottom{
                margin-top: 42px;
                ul{
                    li{
                        height: 80px;
                        margin-bottom: 10px;
                        position: relative;
                        padding: 12px;
                        box-sizing: border-box;
                        overflow: hidden;
                        img{
                            position: absolute;
                            left: 0;
                            top: 0;
                            z-index: -1;
                        }
                        h4{
                            font-size: 18px;
                            color: #fff;
                            line-height: 30px;
                        }
                        p{
                            font-size: 14px;
                            color: #fff;

                        }
                    }
                }
            }
        } 
    }

    .classfly{
        height:340px;
        background: #aad2fd;
        padding: 30px 40px 50px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        .list{
            width: 600px;
            background: #fff;
            h4{
                font-size: 16px;
                color: #0861ad;
                font-weight: bold;
                line-height: 50px;
                border: 1px solid #eee;
                text-indent: 30px;
                img{
                    margin-right: 10px;
                }
            }
            ul{
                margin-top: 22px;
                li{
                    width: 150px;
                    text-align: center;
                    line-height: 40px;
                    float: left;
                    a{
                        color: #387fd9;
                    }
                }
            }
        }
    }
    .footer{
        height: 200px;
        background: #0861ad;
        .footerCenter{
            width: 730px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            padding-top: 75px;
            div{
                p{
                    line-height: 30px;
                    color: #fff;
                }
            }
        }

    }
}