 #index {
     /*search*/
     .searchs {
         width: 100%;
         height: 234px;
         margin: 0 auto;
         overflow: hidden;
         position: relative;
         img {
             width: 1920px;
             position: absolute;
             left: 50%;
             margin-left: -920px;
         }
         .search {
             width: 290px;
             height: 50px;
             position: absolute;
             right: 50%;
             margin-right: -600px;
             margin-top: 96px;
             #keyvalue {
                 width: 230px;
                 height: 42px;
                 line-height: 42px;
                 border: none;
                 float: left;
                 text-indent: 1em;
                 background: url(../images/searchBg2.png) repeat-x;
             }
             #btn {
                 width: 52px;
                 height: 42px;
                 border: none;
                 outline: none;
                 float: left;
                background: url(../images/searchBg1.png) no-repeat;
                 cursor: pointer;
             }
         }
     }
     .main {
         height: 365px;
         overflow: hidden;
         box-sizing: border-box;
         .main-left {
             width: 900px;
             height: 365px;
             float: left;
             background: #f3f3f3;
             margin-top: 15px;
             .slideBox {
                 width: 425px;
                 overflow: hidden;
                 position: relative;
                 float: left;
                .more{
                    position: absolute;
                    right: 10px;
                    bottom: 10px;
                    z-index: 999;
                    a{
                        color: #fff;
                        
                    }
                }
             }
             .slideBox .hd {
                 height: 15px;
                 overflow: hidden;
                 position: absolute;
                 right: 60px;
                 bottom: 7px;
                 z-index: 1;
                 
             }
             
             .slideBox .hd ul {
                 overflow: hidden;
                 zoom: 1;
                 float: left;
             }
             .slideBox .hd ul li {
                 float: left;
                 margin-right: 2px;
                 width: 6px;
                 height: 6px;
                 margin: 0 5px;
                 text-align: center;
                 background: #95b5df;
                 cursor: pointer;
             }
             .slideBox .hd ul li.on {
                 background: #fff;
                 color: #fff;
             }
             .slideBox .bd {
                 position: relative;
                 height: 100%;
                 z-index: 0;
                 margin-top: 10px;
                 margin-left: 15px;
             }
             .slideBox .bd li {
                 zoom: 1;
                 vertical-align: middle;
                 p {
                     height: 40px;
                     line-height: 40px;
                     color: #fff;
                     background: #3777cb;
                     text-indent: 1em;
                 }
             }
             .slideBox .bd img {
                 width: 424px;
                 height: 290px;
                 display: block;
             }
             /*通知公告*/
            
            
             .slideTxtBox {
                 width: 440px;
                 text-align: left;
                 float: left;
                 margin-left: 14px;
             }
             .slideTxtBox .hd {
                 height: 38px;
                 line-height: 38px;
                 padding: 0 10px 0 20px;
                 border-bottom: 1px solid #d5d5d5;
                 position: relative;
             }
             .slideTxtBox .hd ul {
                 float: left;
                 position: absolute;
                 left: 20px;
                 top: -1px;
                 height: 32px;
             }
             .slideTxtBox .hd ul li {
                 float: left;
                 padding: 4px 4px;
                 cursor: pointer;
                 font-size: 16px;
                 margin: 0 16px;
                 a{
                     color: #333;
                 }
             }
             .slideTxtBox .hd ul li.on {
                 height: 30px;
                 border-bottom: 2px solid #3777cb;
                 color: #3777cb;
                 a{
                     color: #3777CB;
                 }
             }
             .slideTxtBox .bd ul {
                 padding-left: 6px;
                 zoom: 1;
                 margin-top: 14px;
             }
             .slideTxtBox .bd li {
                 height: 36px;
                 line-height: 36px;
                 font-size: 14px;
                 a {
                     color: #333;
                     i {
                         float: left;
                         height: 3px;
                         width: 3px;
                         background: #3777CB;
                         margin: 16px 6px 0 0;
                     }
                     p {
                         float: left;
                     }
                     &:hover {
                         color: #1262BB;
                     }
                 }
             }
             .slideTxtBox .bd li .date {
                 float: right;
                 color: #999;
                 font-size: 12px;
             }
         }
         .main-right {
             width: 290px;
             height: 365px;
             float: right;
             margin-top: 15px;
             background: #f3f3f3;
             padding: 0 15px;
             box-sizing: border-box;
             h4 {
                 font-size: 16px;
                 color: #3777CB;
                 height: 38px;
                 line-height: 38px;
                 border-bottom: 1px solid #d5d5d5;
                 a {
                     display: block;
                     border-bottom: 2px solid #3777CB;
                     width: 68px;
                     position: relative;
                     top: -1px;
                 }
             }
             ul {
                 margin-top: 14px;
                 li {
                     height: 36px;
                     a {
                         color: #333333;
                         line-height: 36px;
                         height: 36px;
                         font-size: 14px;
                         p {
                             width: 190px;
                             float: left;
                         }
                         i {
                             float: left;
                             height: 3px;
                             width: 3px;
                             background: #3777CB;
                             margin: 16px 6px 0 0;
                         }
                         &:hover {
                             color: #1262BB;
                         }
                     }
                 }
                 span {
                     float: right;
                     width: 60px;
                     height: 34px;
                     font-size: 12px;
                     color: #999;
                     line-height: 34px;
                     text-align: right;
                 }
             }
         }
     }
     /*业务分类*/
     .classify {
         min-width: 100%;
         height: 710px;
         margin-top: 15px;
         background: #F3F3F3;
         div {
             /*业务工作平台*/
             .business {
                 height: 290px;
                 width: 900px;
                 float: left;
                 margin-top: 12px;
                 background: #fff;
                 padding: 15px 0 15px 15px;
                 box-sizing: border-box;
                 h4 {
                     font-size: 16px;
                     color: #3777cb;
                     i {
                         float: left;
                         height: 16px;
                         border-left: 3px solid #3777CB;
                         margin-top: 0px;
                     }
                     strong {
                         padding: 0 12px;
                         float: left;
                         line-height: 18px;
                     }
                     span {
                         width: 740px;
                         float: left;
                         border-top: 1px solid #d1d1d1;
                         margin-top: 18px;
                     }
                 }
                 ul {
                     padding-top: 10px;
                     li {
                         width: 135px;
                         height: 98px;
                         float: left;
                         padding: 0px;
                         background: url(../images/bg1.png) no-repeat left top;
                         position: relative;
                         padding-right: 10px;
                         margin-top: 10px;
                         &:hover{
                             z-index: 2;
                             transform: scale(1.1);
                             transition: all 0.5s;
                         }
                         img {
                             position: absolute;
                             left: 55px;
                             top: 20px;
                         }
                         .bordernone {
                             padding-right: 0px;
                         }
                         span {
                             display: table;
                             height: 50px;
                             font-size: 14px;
                             color: #fff;
                             margin-top: 50px;
                             text-align: center;
                             width: 130px;
                             span {
                                 display: table-cell;
                                 vertical-align: middle;
                                 text-align: center;
                             }
                         }
                     }
                 }
             }
             /*文件下载*/
             .download {
                 width: 290px;
                 height: 350px;
                 float: right;
                 background: #fff;
                 margin-top: 12px;
                 padding: 0 15px;
                 box-sizing: border-box;
                 h4 {
                     font-size: 16px;
                     color: #3777CB;
                     height: 38px;
                     line-height: 38px;
                     border-bottom: 1px solid #d5d5d5;
                     a {
                         display: block;
                         border-bottom: 2px solid #3777CB;
                         width: 68px;
                         position: relative;
                         top: -1px;
                     }
                 }
                 ul {
                 margin-top: 14px;
                 li {
                     height: 36px;
                     a {
                         color: #333333;
                         line-height: 36px;
                         height: 36px;
                         font-size: 14px;
                         p {
                             width: 190px;
                             float: left;
                         }
                         i {
                             float: left;
                             height: 3px;
                             width: 3px;
                             background: #3777CB;
                             margin: 16px 6px 0 0;
                         }
                         &:hover {
                             color: #1262BB;
                         }
                     }
                 }
                 span {
                     float: right;
                     width: 60px;
                     height: 34px;
                     font-size: 12px;
                     color: #999;
                     line-height: 34px;
                     text-align: right;
                 }
             }
             }
             /*办事指南*/
             .guideIndex {
                 width: 900px;
                 height: 200px;
                 margin-top: 12px;
                 background: #fff;
                 float: left;
                 padding: 14px 0 14px 14px;
                 box-sizing: border-box;
                 h4 {
                     font-size: 16px;
                     color: #3777cb;
                     i {
                         float: left;
                         height: 16px;
                         border-left: 3px solid #3777CB;
                         margin-top: 0px;
                     }
                     strong {
                         padding: 0 12px;
                         float: left;
                         line-height: 18px;
                     }
                     span {
                         width: 775px;
                         float: left;
                         border-top: 1px solid #d1d1d1;
                         margin-top: 18px;
                     }
                 }
                 ul {
                     margin-top: 10px;
                     li {
                         width: 136px;
                         height: 50px;
                         background: #3777cb;
                         font-size: 14px;
                         margin-top: 10px;
                         float: left;
                         margin-right: 10px;
                         position: relative;
                         a {
                             img {
                                 margin: 14px 6px 0 20px;
                                 float: left;
                             }
                             span {
                                 width: 70px;
                                 display: table;
                                 height: 50px;
                                 span {
                                     display: table-cell;
                                     vertical-align: middle;
                                     text-align: center;
                                     height: 50px;
                                     color: #fff;
                                    
                                 }
                             }
                         }
                     }
                 }
             }
             /*机构设置*/
             .install {
                 width: 290px;
                 height: 320px;
                 margin-top: 12px;
                 background: #fff;
                 float: right;
                  padding: 0 15px;
                 box-sizing: border-box;
                 h4 {
                     font-size: 16px;
                     color: #3777CB;
                     height: 38px;
                     line-height: 38px;
                     border-bottom: 1px solid #d5d5d5;
                     span {
                         display: block;
                         border-bottom: 2px solid #3777CB;
                         width: 68px;
                         position: relative;
                         top: -1px;
                     }
                 }
                 ul {
                     padding-top: 10px;
                     li {
                         margin-top: 8px;
                         position: relative;
                         img {
                             position: relative;
                             left: 0;
                             top: 0;
                         }
                         p {
                             position: absolute;
                             left: 20px;
                             top: 14px;
                             color: #fffefe;
                             font-size: 15px;
                             font-weight: bold;
                             &:hover{
                                 color: #333333;
                             }
                         }
                          
                     }
                 }
             }
             /*局内导航*/
             .jn {
                 width: 900px;
                 height: 170px;
                 margin-top: 12px;
                 background: #fff;
                 float: left;
                 padding: 14px 0 14px 14px;
                 box-sizing: border-box;
                 h4 {
                     font-size: 16px;
                     color: #3777cb;
                     i {
                         float: left;
                         height: 16px;
                         border-left: 3px solid #3777CB;
                         margin-top: 0px;
                     }
                     strong {
                         padding: 0 12px;
                         float: left;
                         line-height: 18px;
                     }
                     span {
                         width: 775px;
                         float: left;
                         border-top: 1px solid #d1d1d1;
                         margin-top: 18px;
                     }
                 }
                 ul {
                     margin-top: 10px;
                     li {
                         font-size: 14px;
                         margin-right: 50px;
                         float: left;
                         line-height: 36px;
                         span {
                             width: 3px;
                             height: 3px;
                             float: left;
                             background: #3777CB;
                             margin-top: 16px;
                         }
                         a {
                             color: #333;
                             padding-left: 12px;
                              &:hover{
                                  color: #1262BB;
                              }
                         }
                     }
                 }
             }
         }
     }
 }