#medal{
    .medal{
        width: 100%;
        height: 100%;
        background: url(../images/bg.png) no-repeat left top;
        background-size: 100% 100%;
        .medalBook{
            text-align: center;
            position: relative;
            z-index: 0;
            .medalImg{
                width: 6.9rem;
                margin-top: 0.5rem;
            }
            .mdealContent{
                position: absolute;
                left: 0;
                top: 1.2rem;
                width:80%;
                margin-left: 10%;
                .medalTitle{
                    color: #ce9f1f;
                    font-size: 0.48rem;
                    margin-top: 0.6rem;
                    img{
                        width: 0.35rem;
                        margin: 0 0.1rem;
                    }
                }
                .addMedalS{
                    position: relative;
                    .addMedalSTitle{
                        margin-top: 1rem;
                       font-size: 0.36rem; 
                       p{
                           font-size: 0.3rem;
                           color: #666;
                       }
                    }
                    .addMedal{
                        width: 5.8rem;
                        margin: 0.3rem auto;
                        ul{
                            width: 100%;
                            overflow: hidden;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                        li{
                           float: left;
                           margin: 0 0.2rem;
                           span{
                               display: inline-block;
                               height: 2rem;
                                img{
                                    width: 1.5rem;
                                }
                               
                           }
                           p{
                            font-size: 0.28rem;
                            color: #666;
                        }
                        strong{
                            font-size: 0.36rem;
                            color: #333;
                        }
                           
                        }
                    }
                }
               
                .medalResult{
                    margin-top: 1.05rem;
                    text-align: center;
                    span{
                        display: block;
                        width: 5rem;
                       margin: 0 auto;
                        border-top:0.02rem #ce9f1f dotted;
                        margin-bottom: 0.5rem;
                    }
                    a{
                        color: #4dadf7;
                        font-size: 0.3rem;
                    }
                }
            }
        }
        .btn{
            position: absolute;
            left: 0;
            bottom: 0.45rem;
            width: 100%;
            text-align: center;
            a{
                img{
                    width: 5.03rem;
                }
            }
        }
       
    }
   
}
