#medal{
    background: #fd5245;    
    .medal{
        padding-top: 0.4rem;
        width: 100%;
        min-height: 100%;
        background:#fd5245 url(../images/showBg.png) no-repeat left top;
        background-size: 100% 100%;
        background-attachment: no;
        .medalBook{
            text-align: center;
            background: url(../images/medalBookBorder.png) no-repeat 0.2rem bottom;
            background-size: 7.1rem 100%;
            

            position: relative;
            z-index: 0;
            .mdealContent{
                width: 5.9rem;
                margin-left: 0.8rem;
                .zhengshu{
                    width: 3.6rem;
                    margin-top: 0.7rem
                }
                dl{
                    padding-top: 0.4rem;
                    text-align: left;
                    dt{
                        font-size: 0.36rem;
                        color: #333;
                        font-weight: bold;
                        line-height: 0.6rem;
                        margin-bottom: 0.1rem;
                    }
                    dd{
                        font-size: 0.3rem;
                        line-height: 0.5rem;
                    }
                }
                .medalTitle{
                    color: #ce9f1f;
                    font-size: 0.3rem;
                    margin-top: 0.3rem;
                    img{
                        width: 0.3rem;
                        margin: 0 0.1rem;
                    }
                }
                .addMedalS{
                    position: relative;
                    .addMedal{
                        max-width: 6.8rem;
                        margin: 0.2rem auto;
                        ul{
                            width: 100%;
                            overflow: hidden;
                        }
                        li{
                           width: 1.27rem;
                           height: 1.1rem; 
                           float: left;
                           margin: 0 0.1rem;
                           display: flex;
                           align-items: center;
                           position: relative;
                           span{
                               padding: 0 0.1rem;
                               color: #fff;
                               border-radius: 0.15rem;
                               position: absolute;
                               right: -0.1rem;
                               top: 0rem;
                               line-height: 0.3rem;
                           }
                        }
                        .btnYellow{
                            span{
                                background: #fdbf26;
                            }
                        }
                        .btnPink{
                            span{
                                background: #b133e6;
                            }    
                        }
                        .btnBlue{
                            span{
                                background: #3190e9;
                            }
                        }
                    }
                  
                }
               
                .medalResult{
                    margin-top: 0.6rem;
                    position: relative;
                    padding-bottom: 1.3rem;
                    p{
                        color: #333;
                        line-height: 0.5rem;
                        font-size: 0.3rem;
                        text-align: right;
                    }
                    img{
                        width: 1.84rem;
                        position: absolute;
                        right: 0;
                        top: 0;
                        z-index: -1;
                    }
                }
            }
        }
        .btn{
           
            width: 100%;
            text-align: left;
            margin-top: 0.4rem;
            padding: 0 0.3rem 0.5rem;
            box-sizing: border-box;
            position: relative;
            p{
                color: #fff;
                font-size: 0.28rem;
               line-height: 0.5rem;
                i{
                    font-style:normal;
                    color: #ce9f1f;
                }
            }
            span{
                display: inline-block;
                height: 0.5rem;
                padding: 0 0.5rem 0 0;
                background: #fff url(../images/arrowRight.png) no-repeat 98% center;
                border-radius: 0.25rem;
                background-size: 0.38rem .38rem;
                line-height: 0.5rem;
                text-indent: 0.2rem;
                color: #fd5245;
                margin-top: 0.2rem;
            }
           
            .code{
                position: absolute;
                right: 0.3rem;
                top: -0.1rem;
                display: block;
                width: 1.9rem;
                height: 1.9rem;
                background: url(../images/codeBg.png) no-repeat left top;
                background-size: 100% 100%;
                text-align: center;
                line-height: 1.85rem;
                img{
                    width: 1.7rem;
                }
            }
        }
        .longBtn{
            text-align: center;
            font-size: 0.3rem;
            width: 7rem;
            padding: 0.2rem 0.3rem;
            color: #fff;
            background: rgba(0, 0, 0, .6);
            border-radius: 0.1rem;
            margin: 0 auto 0.5rem;
            span{
                padding: 0 0.1rem;
            }
            .grays{
                color: #ddd;
            }
        }
    }
   
}
