@charset "UTF-8";
body {
  background: #f4f4f9;
}

.header {
  height: 0.9rem;
  background: #fff;
  position: relative;
  line-height: 0.9rem;
  border-bottom: 1px solid #cecece;
}

.header a {
  position: absolute;
  left: 0.2rem;
  top: 0;
}

.header a span {
  font-size: 0.36rem;
  color: #656565;
}

.header h3 {
  text-align: center;
  width: 100%;
  font-size: 0.36rem;
}

.register {
  border-top: 1px solid #CECECE;
  margin-top: 0.2rem;
}

.register .registerMain {
  background: #fff;
}

.register .registerMain .tel {
  margin-left: 0.3rem;
  width: 7.2rem;
  height: 0.9rem;
  line-height: 0.9rem;
  color: #888888;
  font-size: 0.32rem;
  border: none;
  border-bottom: 1px solid #cecece;
  background: #fff;
}

.register .registerMain .code {
  width: 7.5rem;
  height: 0.9rem;
  border-bottom: 1px solid #cecece;
  overflow: hidden;
}

.register .registerMain .code input {
  border: none;
  width: 5rem;
  height: 0.9rem;
  float: left;
  margin-left: 0.3rem;
  font-size: 0.32rem;
}

.register .registerMain .code #btn {
  font-size: 0.32rem;
  float: right;
  width: 2rem;
  height: 0.9rem;
  border: none;
  border-left: 1px solid #cecece;
  text-align: right;
  line-height: 0.9rem;
  color: #888888;
  background: #fff;
  margin-left: 0;
}

.register a.again {
  display: block;
  width: 6.9rem;
  height: 0.8rem;
  line-height: 0.8rem;
  margin-left: 0.3rem;
  background: #90d5e1;
  color: #fff;
  margin-top: 0.8rem;
  border: none;
  border-radius: 0.06rem;
  text-align: center;
  font-size: 0.34rem;
}

/*手机号错误弹窗*/
.errorTc {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 5rem;
  height: 1rem;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -2.5rem;
  margin-top: -0.5rem;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center;
  line-height: 1rem;
  border-radius: 0.2rem;
  font-size: 0.34rem;
  display: none;
}
