.cancle {
  display: block;
  padding-top: 0.2rem;
}

.zhengyan {
  font-size: 0.3rem !important;
  color: #2cb7ca !important;
}

.takeIn {
  margin-top: 0.5rem;
}

.takeIn div.pass {
  width: 6.5rem;
  height: 0.9rem;
  margin-left: 0.5rem;
  position: relative;
  margin-top: 0.2rem;
}

.takeIn div.pass input {
  width: 6.5rem;
  height: 0.9rem;
  border: none;
  border-bottom: 1px solid #cecece;
  font-size: 0.32rem;
  background: #fff;
}

.takeIn div.pass span {
  width: 0.5rem;
  height: 0.9rem;
  line-height: 0.9rem;
  position: absolute;
  right: 0;
  top: 0.1rem;
  font-size: 0.2rem;
  color: #c2c2c2;
}

.takeIn div.pass span span {
  position: absolute;
  left: 0;
  top: 0;
}

.takeIn #btn {
  margin-left: 0.5rem;
  width: 6.5rem;
  height: 0.9rem;
  line-height: 0.9rem;
  font-size: 0.32rem;
  border: none;
  border-bottom: 1px solid #cecece;
  background: #95dbe4;
  color: #fff;
  margin-top: 0.8rem;
  border: none;
  border-radius: 0.06rem;
}

.takeIn .hint {
  width: 3.4rem;
  height: 0.96rem;
  background: #4c4c4c;
  color: #fff;
  text-align: center;
  line-height: 0.96rem;
  position: fixed;
  left: 2rem;
  bottom: 4rem;
  z-index: 99;
  border-radius: 0.1rem;
  font-size: 0.3rem;
  display: none;
}
