@import 'public.scss';
#pay_success{
	width: 100%;
	height: 100%;
	background: #fff;
	.main{
		padding-bottom: .94rem;
		.progress{
			display: flex;
			align-items: center;
			justify-content: space-around;
			padding: .24rem 0;
			.p-item{
				flex: 1;
				display: flex;
				flex-direction: column;
				align-items: center;
				position: relative;
				.line{
					position: absolute;
					top: .2rem;
					right:-0.92rem;
					height: 0.04rem;
					width:1.86rem;
					background: #2CB7CA;
				}
				.p-item-icon{
					width: .48rem;
					height: .48rem;
					line-height: .48rem;
					text-align: center;
					border-radius: 50%;
					background: #2CB7CA;
					i{
						color: #fff;
						font-size: .11rem;
					}
				}
				span{
					margin-top: 0.06rem;
				}
			}
			
		}
		.space{
			width: 100%;
			height: .2rem;
			background: rgba(245,244,249,1);
		}
		.result{
			width: 100%;
			.success{
				display: flex;
				align-items: center;
				flex-direction: column;
				justify-content: center;
				padding: .56rem 0;
			}
			i{
				font-size: 1.6rem;
				color: #2CB7CA;
			}
			h2{
				color: #2CB7CA;
				font-size: .48rem;
				margin: .24rem 0 .16rem;
			}
			p{
				font-size: .28rem;
				color: #888;
			}
		}
		.order_lists{
			border-top: 1px solid rgba(224,224,224,1);
			border-bottom:1px solid rgba(224,224,224,1);
			padding: 0 .4rem;
			.item{
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: .24rem 0;
				border-bottom: 1px solid rgba(224,224,224,1);
				color: #666;
			}
			.item:last-child{
				border: 0;
			}
		}
		
	}
	.main::-webkit-scrollbar {
	        display: none;
	}
	.go_detail{
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: 999;
		display: block;
		background: #2CB7CA;
		color: #fff;
		width: 100%;
		height: .94rem;
		line-height: .94rem;
		text-align: center;
		font-size: .36rem;
	}
}
