#map {
    background: url(../images/bodyBg.jpg) no-repeat center top;
    .map {
        background: #fff;
        .contactTop {
            height: 50px;
            background: url(../images/adress.png) no-repeat 25px center;
            line-height: 50px;
            padding-left: 46px;
            box-sizing: border-box;
            a {
                color: #000;
            }
            i {
                font-style: normal;
                color: #1e5ca8;
            }
        }
        .mapMain {
            .mapMainlList {
                overflow: hidden;
                margin-left: 20px;
                margin-top: 10px;
                h2 {
                    width: 1060px;
                    height: 36px;
                    line-height: 36px;
                    background: #f7f7f7;
                    border: 1px solid #e5e5e5;
                    border-top: 1px solid #3988e9;
                    font-weight: normal;
                    span {
                        display: inline-block;
                        font-size: 20px;
                        color: #fff;
                        padding: 0 10px;
                        height: 37px;
                        background: #3988e9;
                        margin-left: 15px;
                        position: relative;
                        top: -1px;
                    }
                }
                ul {
                    li {
                        width: 120px;
                        height: 50px;
                        line-height: 50px;
                        float: left;
                        font-size: 18px;
                        text-align: center;
                        span {
                            a {
                                color: #1e5ca8;
                            }
                        }
                    }
                }
            }
            .mapMessage {
                margin-left: 20px;
                margin-top: 10px;
                overflow: hidden;
                h2 {
                    width: 1060px;
                    height: 36px;
                    line-height: 36px;
                    background: #f7f7f7;
                    border: 1px solid #e5e5e5;
                    border-top: 1px solid #3988e9;
                    font-weight: normal;
                    span {
                        display: inline-block;
                        font-size: 20px;
                        color: #fff;
                        padding: 0 10px;
                        height: 36px;
                        background: #3988e9;
                        margin-left: 15px;
                    }
                }
                ul {
                    overflow: hidden;
                    >li {
                        width: 100%;
                        float: left;
                        font-size: 18px;
                        text-align: left;
                        span {
                            display: inline-block;
                            text-align: left;
                            height: 40px;
                            line-height: 40px;
                            margin-left: 25px;
                            a {
                                color: #1e5ca8;
                            }
                        }
                       .twoNavi{
                          
                            li{
                                display: inline-block;
                                font-size: 16px;
                                height: 36px;
                                line-height: 36px;
                                a{
                                    color: #000;
                                }
                                .threeNavi{
                                    display: inline-block;
                                    margin-left: 30px;
                                    li{
                                        display: inline-block;
                                        font-size: 14px;
                                        padding: 0 10px;
                                    }
                                }
                            }
                            .oncrow{
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}