#onInternet {
    background: url(../images/bodyBg.jpg) no-repeat center top;
    .onInternet {
        background: #fff;
        overflow: hidden;
        .contactTop {
            height: 50px;
            background: url(../images/adress.png) no-repeat 25px center;
            line-height: 50px;
            padding-left: 46px;
            box-sizing: border-box;
            a {
                color: #000;
            }
            i {
                font-style: normal;
                color: #1e5ca8;
            }
        }
        .onInternetLeft {
            width: 236px;
            height: 630px;
            margin-left: 20px;
            float: left;
            h2 {
                height: 48px;
                line-height: 48px;
                font-size: 24px;
                color: #fff;
                font-weight: normal;
                text-indent: 20px;
                background: url(../images/dengjiBg.png) no-repeat left bottom;
                border-bottom: 6px solid #6aadff;
            }
            ul {
                background: #f8f8f8;
                height: 570px;
                border: 1px solid #d8d8d8;
                border-top: none;
                li {
                    border-bottom: 1px solid #d8d8d8;
                    span {
                        display: block;
                        height: 40px;
                        line-height: 40px;
                        text-indent: 20px;
                        font-size: 16px;
                        a {
                            display: block;
                            color: #3f3f3f;
                            strong {
                                font-weight: normal;
                            }
                            i {
                                font-style: normal;
                                float: right;
                                font-size: 18px;
                                color: #868686;
                                margin-right: 20px;
                            }
                        }
                    }
                    ol {
                        border-bottom: none;
                        border-top: 1px solid #d8d8d8;
                        li {
                            border-bottom: none;
                            height: 36px;
                            line-height: 36px;
                            background: url(../images/nullu.png) no-repeat 22px center;
                            font-size: 14px;
                            text-indent: 44px;
                            a {
                                color: #000000;
                                display: block;
                                &:hover {
                                    color: #1e5ca8;
                                }
                            }
                        }
                        .changeColor {
                            a {
                                color: #1e5ca8;
                            }
                        }
                    }
                    &:hover {
                        border-top: none;
                        span {
                            width: 255px;
                            position: relative;
                            left: -1px;
                            background: url(../images/dengji.png) no-repeat left top;
                            a {
                                color: #fff;
                                i {
                                    display: none;
                                }
                            }
                        }
                    }
                }
                li.onLight {
                    border-top: none;
                    span {
                        width: 255px;
                        position: relative;
                        left: -1px;
                        background: url(../images/dengji.png) no-repeat left top;
                        a {
                            color: #fff;
                            i {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        .businessRight {
            width: 810px;
            margin-right: 10px;
            float: right;
            h2 {
                min-height: 40px;
                line-height: 40px;
                background: url(../images/yuanjiao.png) no-repeat left center;
                text-indent: 16px;
                font-weight: normal;
                font-size: 20px;
                color: #1e5ca8;
                padding: 0 30px;
            }
            ul {
                width: 795px;
                overflow: hidden;
                li {
                    height: 36px;
                    line-height: 36px;
                    border-bottom: dashed 1px #ddd;
                    background: url(../images/listBorder.png) no-repeat left 16px;
                    a {
                        display: block;
                        color: #191919;
                        font-size: 14px;
                        p {
                            float: left;
                            text-indent: 20px;
                        }
                        i {
                            font-style: normal;
                            float: right;
                            color: #656565;
                        }
                        img{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}