#threePage {
    background: url(../images/bodyBg.jpg) no-repeat center top;
    .businessNews {
        background: #fff;
        overflow: hidden;
        .contactTop {
            height: 50px;
            background: url(../images/adress.png) no-repeat 25px center;
            line-height: 50px;
            padding-left: 46px;
            box-sizing: border-box;
            a {
                color: #000;
            }
            i {
                font-style: normal;
                color: #1e5ca8;
            }
        }
        .contactMain{
            min-height: 600px;
            padding: 10px 20px;
            h2{
                text-align: center;
                line-height: 50px;
                min-height: 50px;
                font-weight: normal;
                color: #1e5ca8;
                overflow:hidden ;
                
            }
            .data{
                text-align: center;
                display: block;
                height: 36px;
                border-bottom: 1px solid #ddd;
                margin-bottom: 20px;
                i{
                    font-size: 12px;
                    color: #484848;
                    padding: 0 20px;
                    font-style: normal;
                }
            }
            p{
                text-indent: 2em;
                line-height: 26px;
                margin-bottom: 15px;
            }
            img{
                width: 100%;
            }
        }
    }
}