#guideDetail .guide {
  border-top: 1px solid #dbdbdb;
  width: 100%;
}

#guideDetail .guide .guideNavi {
  width: 1200px;
  height: 50px;
  overflow: hidden;
  line-height: 50px;
  background: url(../images/guideAdress.png) no-repeat 10px center;
  text-align: left;
  padding-left: 26px;
}

#guideDetail .guide .guideNavi a {
  color: #3777CB;
}

#guideDetail .guide .guideMain {
  overflow: hidden;
  min-height: 600px;
}

#guideDetail .guide .guideMain .guideLeft {
  width: 286px;
  height: 350px;
  float: left;
}

#guideDetail .guide .guideMain .guideLeft h4 {
  height: 70px;
  background: url(../images/guideBg.png) no-repeat left top;
  line-height: 70px;
  font-weight: 600;
}

#guideDetail .guide .guideMain .guideLeft h4 i {
  height: 20px;
  width: 4px;
  background: #fff;
  float: left;
  margin: 26px 6px 0 20px;
}

#guideDetail .guide .guideMain .guideLeft h4 span {
  font-size: 18px;
  color: #fff;
}

#guideDetail .guide .guideMain .guideLeft ul {
  border: 1px solid #ddd;
  overflow: hidden;
}

#guideDetail .guide .guideMain .guideLeft ul li {
  height: 53px;
  line-height: 53px;
  border-top: 1px solid #ddd;
  text-indent: 30px;
  font-weight: 600;
}

#guideDetail .guide .guideMain .guideLeft ul li a {
  display: block;
  font-size: 16px;
  color: #333;
}

#guideDetail .guide .guideMain .guideLeft ul li:hover {
  background: #ececec url(../images/guideArrow.png) no-repeat 95% center;
}

#guideDetail .guide .guideMain .guideLeft ul li:hover a {
  color: #3777CB;
}

#guideDetail .guide .guideMain .guideLeft ul .onLight {
  background: #ececec url(../images/guideArrow.png) no-repeat 95% center;
}

#guideDetail .guide .guideMain .guideLeft ul .onLight a {
  color: #3777CB;
}

#guideDetail .guide .guideMain .guideRight {
  width: 890px;
  float: left;
  margin-left: 20px;
}

#guideDetail .guide .guideMain .guideRight h4 {
  font-size: 18px;
  color: #3777CB;
  height: 38px;
  line-height: 38px;
  font-weight: 600;
  border-bottom: 1px solid #d5d5d5;
}

#guideDetail .guide .guideMain .guideRight h4 span {
  display: inline-block;
  border-bottom: 2px solid #3777CB;
  position: relative;
  top: -1px;
}

#guideDetail .guide .guideMain .guideRight .guideRightMain {
  text-align: center;
}

#guideDetail .guide .guideMain .guideRight .guideRightMain h2 {
  margin-top: 30px;
}

#guideDetail .guide .guideMain .guideRight .guideRightMain p {
  margin: 20px 0;
  font-size: 12px;
  color: #999;
}

#guideDetail .guide .guideMain .guideRight .guideRightMain p span {
  margin-right: 20px;
}

#guideDetail .guide .guideMain .guideRight .guideRightMain p strong {
  font-weight: normal;
  margin-left: 20px;
}

#guideDetail .guide .guideMain .guideRight .guideRightMain .guideBottom {
  border-top: 1px solid #ddd;
  text-align: left;
  padding: 40px 0 10px;
  margin-bottom: 30px;
}
