#onInternet {
  background: url(../images/bodyBg.jpg) no-repeat center top;
}

#onInternet .onInternet {
  background: #fff;
  overflow: hidden;
}

#onInternet .onInternet .contactTop {
  height: 50px;
  background: url(../images/adress.png) no-repeat 25px center;
  line-height: 50px;
  padding-left: 46px;
  box-sizing: border-box;
}

#onInternet .onInternet .contactTop a {
  color: #000;
}

#onInternet .onInternet .contactTop i {
  font-style: normal;
  color: #1e5ca8;
}

#onInternet .onInternet .onInternetLeft {
  width: 236px;
  height: 630px;
  margin-left: 20px;
  float: left;
}

#onInternet .onInternet .onInternetLeft h2 {
  height: 48px;
  line-height: 48px;
  font-size: 24px;
  color: #fff;
  font-weight: normal;
  text-indent: 20px;
  background: url(../images/dengjiBg.png) no-repeat left bottom;
  border-bottom: 6px solid #6aadff;
}

#onInternet .onInternet .onInternetLeft ul {
  background: #f8f8f8;
  height: 570px;
  border: 1px solid #d8d8d8;
  border-top: none;
}

#onInternet .onInternet .onInternetLeft ul li {
  border-bottom: 1px solid #d8d8d8;
}

#onInternet .onInternet .onInternetLeft ul li span {
  display: block;
  height: 40px;
  line-height: 40px;
  text-indent: 20px;
  font-size: 16px;
}

#onInternet .onInternet .onInternetLeft ul li span a {
  display: block;
  color: #3f3f3f;
}

#onInternet .onInternet .onInternetLeft ul li span a strong {
  font-weight: normal;
}

#onInternet .onInternet .onInternetLeft ul li span a i {
  font-style: normal;
  float: right;
  font-size: 18px;
  color: #868686;
  margin-right: 20px;
}

#onInternet .onInternet .onInternetLeft ul li ol {
  border-bottom: none;
  border-top: 1px solid #d8d8d8;
}

#onInternet .onInternet .onInternetLeft ul li ol li {
  border-bottom: none;
  height: 36px;
  line-height: 36px;
  background: url(../images/nullu.png) no-repeat 22px center;
  font-size: 14px;
  text-indent: 44px;
}

#onInternet .onInternet .onInternetLeft ul li ol li a {
  color: #000000;
  display: block;
}

#onInternet .onInternet .onInternetLeft ul li ol li a:hover {
  color: #1e5ca8;
}

#onInternet .onInternet .onInternetLeft ul li ol .changeColor a {
  color: #1e5ca8;
}

#onInternet .onInternet .onInternetLeft ul li:hover {
  border-top: none;
}

#onInternet .onInternet .onInternetLeft ul li:hover span {
  width: 255px;
  position: relative;
  left: -1px;
  background: url(../images/dengji.png) no-repeat left top;
}

#onInternet .onInternet .onInternetLeft ul li:hover span a {
  color: #fff;
}

#onInternet .onInternet .onInternetLeft ul li:hover span a i {
  display: none;
}

#onInternet .onInternet .onInternetLeft ul li.onLight {
  border-top: none;
}

#onInternet .onInternet .onInternetLeft ul li.onLight span {
  width: 255px;
  position: relative;
  left: -1px;
  background: url(../images/dengji.png) no-repeat left top;
}

#onInternet .onInternet .onInternetLeft ul li.onLight span a {
  color: #fff;
}

#onInternet .onInternet .onInternetLeft ul li.onLight span a i {
  display: none;
}

#onInternet .onInternet .onInternetRight {
  width: 790px;
  float: right;
  margin-right: 17px;
}

#onInternet .onInternet .onInternetRight h2 {
  height: 50px;
  line-height: 50px;
  background: url(../images/yuanjiao.png) no-repeat left center;
  text-indent: 16px;
  font-weight: normal;
  font-size: 20px;
  color: #1e5ca8;
}

#onInternet .onInternet .onInternetRight .onInternetRightNavi {
  height: 40px;
  background: #e3f0ff;
}

#onInternet .onInternet .onInternetRight .onInternetRightNavi ul {
  height: 34px;
  border-top: 2px solid #3988e9;
}

#onInternet .onInternet .onInternetRight .onInternetRightNavi ul li {
  width: 20%;
  text-align: center;
  line-height: 36px;
  font-size: 16px;
  float: left;
}

#onInternet .onInternet .onInternetRight .onInternetRightNavi ul li a {
  color: #000;
  display: block;
}

#onInternet .onInternet .onInternetRight .onInternetRightNavi ul .liucheng {
  background: url(../images/liucheng.png) no-repeat 24px center;
}

#onInternet .onInternet .onInternetRight .onInternetRightNavi ul .liuchengOne {
  height: 46px;
  background: url(../images/liucheng1.png) no-repeat left top;
}

#onInternet .onInternet .onInternetRight .onInternetRightNavi ul .liuchengOne a {
  color: #fff;
}

#onInternet .onInternet .onInternetRight .onInternetRightNavi ul .tijiao {
  background: url(../images/duibi.png) no-repeat 24px center;
}

#onInternet .onInternet .onInternetRight .onInternetRightNavi ul .tijiaoOne {
  height: 46px;
  background: url(../images/duibi1.png) no-repeat left top;
}

#onInternet .onInternet .onInternetRight .onInternetRightNavi ul .tijiaoOne a {
  color: #fff;
}

#onInternet .onInternet .onInternetRight .onInternetRightNavi ul .download {
  background: url(../images/xiazai.png) no-repeat 24px center;
}

#onInternet .onInternet .onInternetRight .onInternetRightNavi ul .downloadOne {
  height: 46px;
  background: url(../images/xiazai1.png) no-repeat left top;
}

#onInternet .onInternet .onInternetRight .onInternetRightNavi ul .downloadOne a {
  color: #fff;
}

#onInternet .onInternet .onInternetRight .onInternetRightNavi ul .guide {
  background: url(../images/zhinan.png) no-repeat 24px center;
}

#onInternet .onInternet .onInternetRight .onInternetRightNavi ul .guideOne {
  height: 46px;
  background: url(../images/zhinan1.png) no-repeat left top;
}

#onInternet .onInternet .onInternetRight .onInternetRightNavi ul .guideOne a {
  color: #fff;
}

#onInternet .onInternet .onInternetRight .onInternetRightNavi ul .jigou {
  background: url(../images/jigou.png) no-repeat 24px center;
}

#onInternet .onInternet .onInternetRight .onInternetRightNavi ul .jigouOne {
  height: 46px;
  background: url(../images/jigou1.png) no-repeat left top;
}

#onInternet .onInternet .onInternetRight .onInternetRightNavi ul .jigouOne a {
  color: #fff;
}

#onInternet .onInternet .onInternetRight .onInternetRightMain {
  margin-top: 10px;
  display: none;
}

#onInternet .onInternet .onInternetRight .onInternetRightMain ul li {
  height: 34px;
  line-height: 34px;
  background: url(../images/listBorder.png) no-repeat 0px 16px;
  overflow: hidden;
  text-indent: 22px;
  border-bottom: 1px dashed #ddd;
}

#onInternet .onInternet .onInternetRight .onInternetRightMain ul li a {
  font-size: 14px;
  color: #000;
}
